[2017-08-07 22:01] rakekniven opened #1 "Allow comments for language requests"
Target: Open source community

Case: User requests new language

Current state: Project maintainer can accept/deny request with two clicks (select/confirm).

Accepting request:
- User is happy
- Project is happy
- User do not need feedback
- Feedback is useful from project side.

Denying request:
- User is unhappy
- User want to know the reason for denying request.
- Public should see arguments fo

[2017-08-07 22:02] rakekniven opened #2 "Allow import of of glossary"
Role: Project maintainer

Currently you can download existing glossary for one/all languages (notes as option) as csv file.
That's great btw.

As a power user I would like to edit my glossary list externally and upload it.
So please make import/upload possible.

[2017-08-07 22:06] rakekniven opened #3 "Sort resource list in daily notification email"
Everyday team members get a nice notification email from Transifex.
It tells us a total number of updated resources and adds a list of them.

That list is not sorted as expected.

It should be sorted alphabetically.

Reason for request:
Some translators are just translating one resource. They need to grep daily email for their resource and and alphabetic sorting helps them and make it more clear.

[2017-08-07 22:08] rakekniven opened #4 "Bug: Team member can accept language requests"
Already reported to Transifex.

Will try to dig for details.

[2017-08-07 22:14] rakekniven opened #5 "Add function to compare two languages inside web UI"
Example: German has two language forms. See Nextcloud project.
One language is formel an the other one is informel.
Differences are not that big, but there are some of them. I would say 98% off all strings are the same.

Transifex does not support this case. You cannot compare two resources of two languages within web UI.

Same should apply for e.g. Chinese languages.

[2017-08-07 22:24] rakekniven opened #6 "Using translation editor on iOS is a pain"
Use iPad Pro with iOS v10.3.3 and Transifex. Nice combination.

Basic functions are working.

Improvements can be:
- scrolling of string list is bad
- confirmation of actions like "Save translation" need a double tap. Same for many others.
- will create list of double tape actions

[2017-08-07 22:30] rakekniven opened #7 "Option to accept languages is visible for translators - should not be"
On iOS I have seen the option to accept/deny languages without rights.

When tapping actions screen shows dialog for short time.
Than it disappears.

Project: Nextcloud
Username: rakekniven

[2017-08-07 22:32] rakekniven opened #8 "Combine users inbox and outbox to have a threaded view of messages"
Currently there are separated folders for inbox and sent messages.

Please overwork view and show threaded conversations.

That helps a lot while communicating.

[2017-08-07 22:36] rakekniven opened #9 "Add categories to string changes / allow to edit reviewed strings"
Handle it like crowdin

[2017-08-07 23:13] rakekniven opened #10 "Sorting issue with new new state progress bar"
1. Select organization
2. Select project
3. Select languages
4. Sort by progress
5. Compare Spanish with Turkish
6. It does not fit. Works with older version.

[2017-08-08 19:17] rakekniven opened #11 "Allow to send messages to more than one person"
Sometimes you need to discuss things with more than one person e.g. Adding new languages to a project.

Currently your possibility is a one-to-one conversation.

At the moment you have to use other channels like email, irc or forums.

[2017-09-28 14:40] rakekniven opened #12 "Notification of language requests lists wrong user"
Today I have seen two language requests for Nextcloud projects.

Notification looks as follow:
![grafik](https://user-images.githubusercontent.com/2069590/30972675-89bc98f0-a46b-11e7-8f1e-43f55694baa3.png)

But user only requested one language. Timeline shows following:
![grafik](https://user-images.githubusercontent.com/2069590/30972719-aff08716-a46b-11e7-8471-9ccb761bf3e2.png)

[2017-09-29 14:16] rakekniven commented on #10
Reported beginning of august. See https://twitter.com/transifex/status/894685156769792000

[2017-09-29 14:19] rakekniven opened #13 "Please offer an open forum or something similar to get in contact with OSS people"
Offering an email address (support@transifex.com) is not enough.
OSS people have ideas, want to discuss with you to improve your service.

Already addressed: https://twitter.com/rakekniven/status/894662476826062849

Having an open forum / issue tracker will make this repository superfluous.

[2017-09-29 14:20] rakekniven commented on #1
See https://twitter.com/rakekniven/status/879220465780355072 as well

[2017-09-29 19:06] ldmpub opened #14 "No way to be warned when new strings have to be translated"
No mail received neither when a new key has been added (translation to be done) nor when a new suggestion has been added (to be reviewed) nor when a translation has been approved / revised (to get coordinator agreement).

[2017-09-29 19:09] ldmpub opened #15 "No way to search in translation history"
I want to find old strings in the case I'm running an old app version, to check how translation has evolved in the new app (search the old translation and display now the new translation).

[2017-09-30 08:49] ldmpub opened #16 "No way to remove warnings"
Transifex adds automatic warnings on translations (orange triangle before line in main view).

For instance when the translation contains a word "out of the glossary", there is a warning ... but it's impossible even as a coordinator to remove these warnings => making this feature unusable because "too much information kills information" ;-(.

At least we need the following actions on translations

[2017-09-30 08:56] ldmpub opened #17 "Search bar entries are not translated"
The search bar is not translated at all (at least in french) making search really very difficult to use.
For instance how can a regular user understand difference between "Text" and "Translation Text" which are the 2 first criterias of this search bar!?

For a translation tool it's a shame to have part of its UI not translated in one of the world's major language!

[2017-09-30 13:35] rakekniven commented on #17
Is your user interface available in french?
Just checked my user profile and cannot select any language.

[2017-09-30 13:38] rakekniven commented on #15
You can see history of each string?

[2017-09-30 13:40] rakekniven commented on #14
You can get notfications about new content to translate.

No notification about strings to review.

[2017-09-30 13:43] rakekniven commented on #17
Just discovered settings at bottom right. No german :-(

<img width="241" alt="bildschirmfoto 2017-09-30 um 15 42 36" src="https://user-images.githubusercontent.com/2069590/31046264-077e10f8-a5f6-11e7-9e38-33e0533fda1b.png">

[2017-09-30 17:05] ldmpub commented on #17
You're right: setting language is well hidden in profil ;-( and only few languages are available ;-((.

By the way my original claim was:  even when UI is set to french the search bar uses english vocabulary!

[2017-09-30 17:07] ldmpub commented on #14
In my profil, under notification section, all options are ticked.
Did I miss a setting somewhere else? in the project?

[2017-09-30 17:10] ldmpub commented on #15
Yes I can browse all strings one by one and look at their history ... but I need a whole search feature in "old strings".

Note: this is an existing use case but I agree it has a low priority (compared to my other "issues").

[2017-10-01 16:47] rakekniven commented on #17
Yes, understood.

Another thought (workaround): If source language is english, the translator should be able to handle this.

[2017-10-03 15:30] rakekniven commented on #14
Hello @ldmpub ,

see next two pictures of my secons. See small icon on second one. Their I "watched" the whole project.

<img width="597" alt="bildschirmfoto 2017-10-01 um 18 57 14" src="https://user-images.githubusercontent.com/2069590/31133638-663172e0-a860-11e7-837c-70119a79c072.png">

<img width="877" alt="bildschirmfoto 2017-10-01 um 18 57 54" src="https://user-images.githubusercontent.com/20

[2017-10-04 17:20] samuelchan22 commented on #2
Uploading a glossary is possible, though only Admins are able to do this for the time being. Instructions can be found here: https://docs.transifex.com/setup/glossary/uploading-an-existing-glossary

[2017-10-04 17:28] samuelchan22 commented on #17
Translations for Transifex's UI are crowdsourced [1]. And unfortunately, German is currently less than 50% translated, so we cannot make it available as an option yet. If anyone would like to contribute translations, we won't be opposed ;)

[1] https://www.transifex.com/transifex/transifex/core/

[2017-10-04 17:29] samuelchan22 commented on #16
Would you be able to help us understand the use case where you'd want the warning message to be disabled?

Btw, these translation checks can be customized by Admins: https://docs.transifex.com/setup/setting-translation-checks.

[2017-10-04 18:10] rakekniven commented on #17
Hello @samuelchan22 Thank you for joining us.

Regarding the user's question: Is the search bar translatable?

[2017-10-04 18:12] rakekniven commented on #2
As an project maintainer I am able to edit and download glossary.
Doesn't it make sense to allow import as well?

[2017-10-04 18:45] rakekniven commented on #3
Already reported via email to Transifex in 2016.
Response came from a lady and it says "will put it on agenda".
Unfortunately I cannot find that email.

@samuelchan22 Any update on here?

[2017-10-04 18:47] samuelchan22 commented on #17
Hmm you're right, that's odd. We'll have to look into this and get back to you.

[2017-10-04 18:49] ldmpub commented on #17
Request to join core Transifex translation team done!

[2017-10-04 18:56] samuelchan22 commented on #17
@ldmpub Request approved, thanks!

[2017-10-04 19:01] samuelchan22 commented on #2
I see what you're saying and we'll have to discuss this some more internally. Organizations typically share a single glossary across multiple projects, so by allowing import from a single project and bulk changes to the glossary, it could potentially impact other projects as well, which the maintainer shouldn't be able to do.

[2017-10-04 19:03] rakekniven commented on #17
I would join as well. Good compensation would be to answer other issues here. What do you think?

[2017-10-04 19:17] ldmpub opened #18 "Unable to use copy / paste with keyboard shortcuts"
It's impossible to make Ctrl C / Ctrl + V work in the "translation zone"!

[2017-10-04 19:51] rakekniven commented on #18
Which OS? Browser?

Using it very often with Firefox on OS X and windows. Works pretty well.

[2017-10-04 20:01] ldmpub commented on #18
Firefox under Windows 10.

To reproduce:
- when performing translation, click on little "thunder" (ie automatic translation)
- need to move one word at the beginning to, for instance, the end of sentence:
 . Ctrl + C / cut: it's OK => selected words are remove and clipboard content is ok
 . Ctrl + V / paste: no effect

Note: with right-click and contextual menu copy/paste are working but it's coun

[2017-10-04 20:20] ldmpub commented on #17
Can you please change my rights / Yet I can not change any reviewed translation:
- neither submit a request for change (with my proposal)
- not "unrevised" a string.
See for instance my suggestion here: https://www.transifex.com/transifex/transifex/translate/#fr_FR/core/113846783?qt=La%20traduction%20du%20glossaire%20pour%20le%20mot

[2017-10-04 20:52] ldmpub commented on #16
Hi, as far as I know I'm not an admin but just a "power" user / translator.

Attach is a screen copy of 1 use case
![warnings](https://user-images.githubusercontent.com/1452146/31199000-64031414-a956-11e7-8d6e-ec83ddcd026c.png)

What do you suggest to handle this warning? I have added a 2d translation for the word settings without any success on removing this warning.

Note: if a warning is always

[2017-10-04 20:58] samuelchan22 commented on #17
@ldmpub I've made you a reviewer for French.

@rakekniven I'm still looking into some of the issues and checking on their status with some teammates. To be frank, there are a lot of issues and we won't be able to solve all of them in the near term.

[2017-10-04 21:05] samuelchan22 commented on #3
@rakekniven No updates yet, but it should be something we can change.

[2017-10-04 21:07] samuelchan22 commented on #5
I'm not sure I understand the issue completely. You'd like to compare the translations of two similar languages?

[2017-10-04 21:11] samuelchan22 commented on #13
We've discussed this a bit internally and we definitely want a better channel to connect with the OSS community. At this point, we don't have the resources (people) to manage this well, so we'll look to revisit this topic in 2018. For now, I'd say continue creating issues here and we'll keep an eye on them.

[2017-10-04 21:29] ldmpub commented on #17
Thanks, from the new reviewer ;-).

[2017-10-05 05:38] rakekniven commented on #5
Yes, I like to compare two languages without downloading resource files manually. Updated my first post.

[2017-10-05 05:40] rakekniven commented on #17
@samuelchan22 I value your input. Some of the issues are minor, some are really important when managing bigger community projects.

[2017-10-05 05:41] rakekniven commented on #13
Works for me at the moment.

[2017-10-05 05:51] rakekniven commented on #16
AFAIK glossary is case sensitive. Just played arround a little and in german it is not very useful.
Will provide example later today.

[2017-10-05 06:08] ldmpub commented on #18
Copy / Paste keyboard shortcuts are working under Chrome + Ubuntu!

[2017-10-05 06:11] rakekniven commented on #18
Are you having any add-ons installed in your Firefox e.g. Skriptblocker or similar?

[2017-10-05 06:15] ldmpub commented on #14
Hi,

Thanks for this info. I have subscribed to the whole Nextcloud project.
Now each day I receive a useless email like today:

followed by 69 links to "sub-ressources".

Neither in th email nor by clicking on each of the 69 links I can find any changes list nor any activity report to know what changes have been done and what I have to do as a translator to improve project translation ;-(.
 
 

[2017-10-05 06:17] ldmpub commented on #18
I will have a deaper look. Thanks.

[2017-10-05 06:31] rakekniven commented on #14
And yes, you are right. That email is nearly useless. It just says, that transifex robot successfully interacted with GitHub repositories.

[QOwnNotes](http://www.qownnotes.org/) is using Crowdin as translation platform. Their daily mails are in detail. Have no one at the moment. Will append one later.

[2017-10-05 06:32] rakekniven commented on #4
Cannot get the details again from early august.

[2017-10-05 06:32] #4 closed, assigned to nobody

[2017-10-05 15:08] rakekniven commented on #12
Got an answer from Transifex:

[2017-10-05 17:33] samuelchan22 commented on #17
@rakekniven Thanks for understanding. Regarding this issue, we're going to update how the filters work in the Editor. As part of this update, we'll make the filters translatable (they're currently not part of the Core.po resource unfortunately).

[2017-10-05 18:04] samuelchan22 commented on #5
Does this feature achieve what you're looking for? You can't compare two different resources, but you can compare two languages within the same resource.

View source strings in a different language: https://docs.transifex.com/translation/tools-in-the-editor#view-source-strings-in-a-different-language

[2017-10-05 18:06] samuelchan22 commented on #9
Regarding categorizing string changes, we've considered it but it's currently lower on our list of priorities. As for editing reviewed strings, only Reviewers (and roles above) are allowed to do this. This is how we designed the various user roles to work.

[2017-10-05 18:09] samuelchan22 commented on #10
This might have to do with your screen size. Could you confirm if this is still an issue?

We've updated the resources/languages pages with a sorting option for completion, which sorts the list by most reviewed first, then most translated second.

[2017-10-05 18:37] rakekniven commented on #10
You are right. View is now different and works like you describe.

[2017-10-05 18:37] #10 closed, assigned to nobody

[2017-10-05 18:44] rakekniven commented on #9
Hello @samuelchan22 , sorry to hear this.

My issue description was very short, but is important for fast moving projects.
At Nextcloud nearly daily we have source string changes and the many team members (>1000) are improving strings.
Not many of them are reviewers. What can they do actually? Add comments. Mark them as issues. Some do it.
Please, please see how Crowdin is doin' it here. IMHO they

[2017-10-05 21:14] rakekniven commented on #7
Could not reproduce it after having role of project maintainer.

Anyone else?

[2017-10-07 09:52] ldmpub commented on #14
100% agree: this daily mail is for admins (not for translators nor coordinators).

It's a kind of "system monitoring mail" useless for translator because: it's not linked to the real activity for their language strings and there are no info at all on what they have to do to improve the translation (already pointed out in my above post).

[2017-10-07 20:46] rakekniven commented on #2
Ok, seeing your argument makes sense.
You can close issue.

[2017-10-11 17:48] rakekniven commented on #14
Example from Crowdin:
![grafik](https://user-images.githubusercontent.com/2069590/31457447-0e8a6ba6-aebd-11e7-85af-d794282909bb.png)

@samuelchan22 What do you think?

[2017-10-11 20:23] samuelchan22 commented on #2
It doesn't seem like I have the ability to close the issue. Would you be able to mark it as closed?

[2017-10-11 20:29] samuelchan22 commented on #14
@rakekniven Thanks for sharing. What happens when you click on the "Translations" link in the email above? And to help me better understand, is the "XX number of files have been updated" email not useful because it's not clear which file needs to be worked on (first)?

[2017-10-11 21:00] samuelchan22 commented on #9
@rakekniven Translators can add suggestions for strings that have already been reviewed. They just need to type a new translation in the translation area, click on the down arrow, and hit Save as suggestion.

![image](https://user-images.githubusercontent.com/2788702/31466271-7b682718-ae8b-11e7-9c26-ee093ee2f497.png)

For now, I'd suggest in cases where a translation needs to be changed, have the

[2017-10-11 21:47] ldmpub commented on #14
Right! What misses in the current email from Transifex are the following details with relevant url links to start the work in Transifex...

In first priority:
- new strings => to be translated
- strings modified in the source => to be reviewed = does translation need to be changed?

In second priority:
- new resource file added => to be translated
- new suggestions => to be accepted / refused.

It

[2017-10-13 19:35] #2 closed, assigned to nobody

[2017-10-14 02:54] comradekingu opened #19 "Transifex is broken beyond repair on every level, change to Pootle or Weblate."
I have used Transifex heavily almost every day for 5 years. I still discover new bugs, daily.
Show me any function, and i will tell you how it is broken.
In addition to that, the upstream developers and support team does not listen, even if you pay through the nose for it. It is the worst joke in software to date.

[Pootle](https://pootle.locamotion.org) and [Weblate](https://hosted.weblate.org/)

[2017-10-14 02:57] comradekingu commented on #6
It is just plain broken on any browser on Android too.

[2017-10-14 03:01] comradekingu commented on #7
I don't think there are any open requests now.

[2017-10-14 03:12] comradekingu commented on #17
@ldmpub You can help translate [Pootle](https://pootle.locamotion.org/projects/pootle/) and [Weblate](https://hosted.weblate.org/projects/weblate/master/). The French translation is completed for Weblate, but there might be room for improvement. Pootle is not yet done, so you could make a lot of impact there. LibreOffice uses it for example.
Transifex is not free software(!)

[2017-10-14 03:13] comradekingu commented on #16
This feature is broken. Don't put anything in the dictionary.

[2017-10-14 03:17] comradekingu commented on #18
Very interesting, could you explain the whole use-case? What is it you are doing.

[2017-10-14 03:38] comradekingu commented on #14
It broke for Nextcloud recently, but will still give you updates. It is broken in different ways depending on the project, so just click the eye and hope for the best.

[2017-10-14 03:42] comradekingu commented on #13
Transifex has been the same since 2013, and didn't interact with the free software community when it had a free software license. Don't waste your time. The Pootle and Weblate devs respond right away.

[2017-10-14 03:44] comradekingu commented on #12
That is not an answer.

[2017-10-14 03:44] comradekingu commented on #11
The messaging platform is broken, don't use it.

[2017-10-14 03:46] comradekingu commented on #9
The Crowdin model is not good. Though the transifex model is the worst possible variant, look to Pootle, Weblate and translatewiki for good examples.

[2017-10-14 03:51] comradekingu commented on #8
So many people that use Transifex heavily has been saying this for years and years. The messaging system is severely broken beyond this.

[2017-10-14 03:53] comradekingu commented on #5
This is broken far beyond comparison, not going to happen.

[2017-10-14 03:54] comradekingu commented on #3
Please don't make them touch the notification system. It is riddled with bugs, and I rely on it to keep on top of things, which is next to impossible on Transifex.

[2017-10-14 03:57] comradekingu commented on #1
Even if Transifex fixed this, there are plenty more reasons why that functionality is broken.

I talked to one of the Pootle devs about a more clever way to accept languages the other day. Result: Response within seconds, and a proposed solution agreed upon within minutes.

[2017-10-14 08:22] ldmpub commented on #17
@comradekingu I'm personally the french translator behind Weblate (using the same ldmpub account) ... that's the reason why this translation is completed ;-). I do not use Pootle at all, yet. Transifex is not a free software? That's not a problem it just need to be a good piece of software with good translations powered by a team open to improvments.

[2017-10-14 08:40] ldmpub commented on #14
Thanks for your feedback.

Note: the content of this notification should also be localized based on the recipient / translator preferred language.

[2017-10-14 16:42] rakekniven commented on #3
@comradekingu Please stop commenting that way. I created this repo to get in contact with Transifex. In a constructive way. Nextcloud is currently not using Pootle or similar Open Source tools. It is using Transifex. See [README.md](https://github.com/rakekniven/Transifex-Issues/blob/master/README.md) . This is a warning.

[2017-10-14 16:44] rakekniven commented on #11
@comradekingu See https://github.com/rakekniven/Transifex-Issues/issues/3#issuecomment-336647483

[2017-10-14 16:45] rakekniven commented on #13
@comradekingu https://github.com/rakekniven/Transifex-Issues/issues/3#issuecomment-336647483 If you do not stop, I will delete your comments here.

[2017-10-14 16:47] rakekniven commented on #7
Just make one and try it on iOS.

[2017-10-14 16:58] rakekniven commented on #8
@samuelchan22 Anything on your roadmap regarding this issue?

[2017-10-14 18:11] comradekingu commented on #17
@ldmpub Even if that was true of Transifex, it still wouldn't be anywhere close to equivalent. You cant use it as you please, see the sourcecode, change or distribute it.
Case in point, look at the disparity to the development model of Nextcloud, or their motives, it has all of those, and more.
What is worse, the only people that can do anything about Transifex being broken, are doing nothing.
ele

[2017-10-14 18:24] comradekingu commented on #13
The reason why the open source/free software model doesn't work, is because Transifex isn't free software. As a direct result thereof, they are at the leisure of not listening, and not doing anything about it. While it could have been different, it isn't, which makes sense considering the amount of bugs on the platform. Do what you want with my comments, or [the comments of others](https://www.tra

[2017-10-14 23:45] #19 closed, assigned to nobody

[2017-10-14 23:45] rakekniven commented on #19
Allan, your postings are not helpful at all here. Please contact project maintainters

[2017-10-18 14:35] rakekniven commented on #12
Happened again

![image](https://user-images.githubusercontent.com/2069590/31724496-2c20f756-b422-11e7-818b-754e46f67340.png)

![image](https://user-images.githubusercontent.com/2069590/31724482-1c27244c-b422-11e7-99f9-97cde0e4fafa.png)

@samuelchan22 Could you please check this one?

[2017-10-18 20:39] samuelchan22 commented on #8
@rakekniven Not currently, but I'll push for it for to be included in the 2018 roadmap. We're aware there's room to improve our messaging and announcement/discussions features.

[2017-10-19 08:07] comradekingu commented on #19
I am puzzled as to how they could ever be, were I or those that have said the same, to tell you anything else.

My issue with this effort is it is in stark contrast to the wishes of every other contributor voicing the exact same concern. Not that it isn't a laudable, however intangible goal, that you are free to chase. The Nextcloud contributors want to move away from Transifex, not amend it. It f

[2017-10-19 11:52] wetneb commented on #19
I wholeheartedly recommend Weblate to any localized open source project.

[2017-10-24 20:26] samuelchan22 commented on #12
@rakekniven For some of our notifications, we group them so we don't spam you or other users. The idea is similar to Facebook notifications. In this case, the wording for the in-app notification creates the impression that Htike requested both Burmese and Spanish (Colombia). But in reality, Htike and several others requested those languages. We're going to fix the wording so it's clearer.

[2017-10-28 16:18] rakekniven commented on #12
Hello @samuelchan22 Thank you for digging into it. When could we expect to see a change?

[2017-11-02 10:02] rakekniven commented on #3
@samuelchan22 Looks like you changed something to solve issue? Can you confirm?

Send you invitation to this repo some time ago. Please accept it and your are able to close issues as well. Thank you.

[2017-11-03 23:07] samuelchan22 commented on #3
@rakekniven Hmm I don't believe so, let me check and get back to you. And thanks for the invite, just joined!

[2017-11-07 18:53] samuelchan22 commented on #3
@rakekniven Confirmed this has been fixed — we're now sorting things alphabetically where applicable. Thanks for the suggestion!

[2017-11-07 18:53] #3 closed, assigned to nobody

[2018-03-16 20:19] rakekniven commented on #12
@samuelchan22 Any update?

[2018-04-04 05:23] samuelchan22 commented on #17
@ldmpub We just released an update to the Search Filter UI in the Editor today. Everything should be translatable now! Closing this issue.

[2018-04-04 05:23] #17 closed, assigned to nobody

[2018-04-08 15:30] rakekniven commented on #17
@samuelchan22 Applied some days ago to translate Transifex but still no response.

Found a bug regarding the new search bar. Report it here?

[2018-04-12 21:52] samuelchan22 commented on #12
@rakekniven Sorry for the delay, we've updated the notification to say the following:

We decided to drop the requester names from the notification since 1) there wasn't an easy way to make things clear without the notification being really long and 2) they didn't add much value.

[2018-04-13 08:03] rakekniven commented on #12
Hello @samuelchan22 Yesterday I had a request for french language. There is french already, but different locale value.
So how to contact the requesting person and inform it about already existing language and forward him?

Solution: I had to search the timeline to find the person.

So IMHO it is bad to drop the name. Can you follow my argumentation?

[2018-04-19 23:48] samuelchan22 commented on #12
@rakekniven I see what you're saying. We're going to see how we can fix this. Most likely, we'll still keep the notification simple and have the details exposed in the project timeline. Otherwise, if you get multiple language requests from multiple people, the notification will become hard to follow.

[2018-04-20 07:40] rakekniven commented on #12
Hello @samuelchan22
Nextcloud is an active project. But not as active as there are language requests daily.

My solution would be:

- Keep the name in the notification
- Do not combine two requests into one notification

Another issue related here:
90% of the requests are duplicates.
1. User is requesting e.g. French (fr_FR) then discovers there is French already (FR). The user joins existing Fren

[2018-04-20 16:48] samuelchan22 commented on #12
@rakekniven Thanks for the feedback. For the time being, we decided to keep the notifications grouped and without the username because projects that are more active might get more requests and we want to avoid the in-app notification feed from being filled with these requests. You'll still be able to see the username in the project timeline.

As for the other issue you mentioned, it makes a ton of

[2018-04-20 22:57] rakekniven commented on #12
Hello @samuelchan22 . Sad to hear that. I filed a bug and now I need more clicks to get the person filing the request...

[2018-04-20 23:00] rakekniven opened #20 "Usability: People requesting languages instead of joining already existing languages."
Nextcloud project:
90% of the requests are duplicates.

1.   User is requesting e.g. French (fr_FR) then discovers there is French already (FR). The user joins existing French team and I have to decline the request
2.   User is requesting e.g. French (fr_FR) and does NOT discover there is French already (FR). I sent a message to the user and pointing him to the French team and decline the request.

[2018-04-20 23:01] #12 closed, assigned to nobody

[2018-04-21 14:18] rakekniven opened #21 "Link to overall project issues does not forward to strings with issues"
Before Transifex introduced the new search bar it works like expected.

Current state:
Open project. See total issue counter. Here 19 issues.

<img width="1028" alt="bildschirmfoto 2018-04-21 um 15 34 01" src="https://user-images.githubusercontent.com/2069590/39085192-6d1b5fe6-457f-11e8-8379-81e47d9c0db2.png">

Click at it and you are forwarded to list without any filter:

<img width="747" alt="bi

[2018-04-21 14:18] rakekniven commented on #21
@samuelchan22 One more bug.

[2018-04-21 14:40] rakekniven commented on #16
@ldmpub Any news from your side? Have you tried case sensitive entries?

[2018-04-21 20:42] ldmpub commented on #16
These unrelevant warnings are still annoying and can not be removed, see an other example below taken today:
![still annoying](https://user-images.githubusercontent.com/1452146/39088592-107ee966-45b5-11e8-8c64-bbd9edf31726.jpg)
plurial should apply in french and is not "recognized" raising an unwanted warning ;-(.

[2018-04-23 19:59] samuelchan22 commented on #21
@rakekniven We have a fix in place for this already — it's just waiting to be deployed.

[2018-04-24 10:33] rakekniven commented on #21
So, the wait is over, please deploy :-)

[2018-04-24 16:51] samuelchan22 commented on #21
@rakekniven It should be fixed now, could you confirm?

[2018-04-25 08:01] rakekniven commented on #21
Yes, it works like expected.

[2018-04-25 18:05] rakekniven commented on #16
@samuelchan22 This looks like a bug, or?

[2018-05-18 19:31] rakekniven commented on #13
Hello @samuelchan22 It is 2018 already and I want to come back to you.
Any news from your side?

[2018-05-18 19:32] rakekniven commented on #7
Closed. Not reproduceable.

[2018-05-18 19:32] #7 closed, assigned to nobody

[2018-05-21 16:21] rakekniven commented on #21
Reopen this. Worked for some weeks.
Now the argument for issues is not yes/no anymore.

@samuelchan22  See screenshot.

<img width="577" alt="bildschirmfoto 2018-05-21 um 17 29 04" src="https://user-images.githubusercontent.com/2069590/40317970-61e649d6-5d23-11e8-834e-73b1381d590a.png">

[2018-05-22 17:44] samuelchan22 commented on #21
@rakekniven We have a fix and will be deploying it later this week.

[2018-05-22 17:46] samuelchan22 commented on #13
@rakekniven Thanks for checking in. We've been discussing it some more internally and have some ideas, but they're still in the early stages. It'll probably be a little while longer before we have this, as our team is small and have limited capacity.

[2018-05-22 17:49] rakekniven commented on #13
Hello @samuelchan22 Hope you see the value you are getting by reported bugs and idea for improvements (do not talk about big new features).

[2018-05-22 17:52] samuelchan22 commented on #16
@rakekniven Case sensitivity might be a feature, I'm not sure. But in the case of this last screenshot, could you help me understand the issue? It seems the translation used a plural version (dossiers) when the source was singular (folder), hence the warning.

[2018-05-22 17:56] rakekniven commented on #16
@ldmpub Could you explain your screenshot?

[2018-05-22 18:06] samuelchan22 commented on #13
@rakekniven We absolutely do! :) It's just going to take time to do it right, designing it, moderating it, etc.

[2018-05-22 21:06] ldmpub commented on #16
Hi, you are right => I removed the S to "Dossiers" and get rid of the annoying warning.

Then, questions are:
- at application level, are we really speaking of "only "one" folder"? => none of us can say (I should ask ownCloud project Team!)
- is transifex able to detect (un)consistency between source and target strings, here able to block or allow plural difference in 2 languages?

Thanks for your

[2018-05-22 23:16] samuelchan22 commented on #16
To just speak to the Transifex side of things, the behavior of the translation check can be customized the Organization Admin. By default, a warning is displayed when a translation is missing a translation present in the glossary. This lets you save the translation but you'll see the warning (which is what you experienced). Currently, our glossary doesn't let you note if a glossary term is singula

[2018-05-24 23:06] samuelchan22 commented on #21
The fix has been deployed.

[2018-05-24 23:06] #21 closed, assigned to nobody

[2018-08-31 05:40] rakekniven opened #22 "Statistics overlay is in the way while language switching"
Hello,

I am often switching languages while working on maintaining things.
When moving cursor up to language selection box I have to cross progress bar and a small statistic information box comes up.
This is in the way of the box and I have to move cursor away and back to the box.

![2018-08-30_07h28_15](https://user-images.githubusercontent.com/2069590/44894644-1f7a3a80-acf1-11e8-9636-40c39baf93

[2018-09-04 05:58] mikegianno commented on #22
Hi @rakekniven thanks for pointing that out.

I work on Transifex and will be looking at these issues.

We will iterate on your feedback and get back to you, seems like a usability issue.

[2018-09-04 06:45] mikegianno commented on #20
Hi @rakekniven ,

We have enhanced the request language modal to display the existing languages as well.
So now if someone wants to request French and starts typing, existing languages will also be displayed as inactive with an "Already exists" helptext.

[2018-09-04 09:54] rakekniven commented on #20
Hello @mikegianno,

Ok, let's close this for now and I will come back if necessary.

[2018-09-04 09:54] #20 closed, assigned to samuelchan22

[2018-09-04 20:14] glezos commented on #13
A quick update on this — we are, indeed, making progress on this and working on a website for our community. :)

[2018-09-05 10:35] rakekniven commented on #13
Hello @glezos , could you show or explain the way you will interact with the community in the future?

[2018-09-14 12:47] mikegianno commented on #22
Hi again @rakekniven ,

This issue should be fixed now. Could you please validate?

[2018-09-14 19:10] rakekniven commented on #22
Yes, way better now. If you move the mouse cursor slowly up it happens again, but you really have to be slow.

Thx for your feedback.

[2018-09-14 19:10] #22 closed, assigned to nobody

[2019-02-22 21:34] rakekniven commented on #13
We can close this one.

See https://community.transifex.com/t/welcome-to-the-transifex-community-portal/8

[2019-02-22 21:34] #13 closed, assigned to nobody

[2019-02-22 21:55] rakekniven commented on #8
Reported at https://community.transifex.com/t/combine-users-inbox-and-outbox-to-have-a-threaded-view-of-messages/185

[2019-02-27 16:52] txgittest commented on #13
As @rakekniven mentioned, Transifex Community is available to all users! We would love to have all you contributing and posting about your workflow and experience in Transifex!
We look forward to seeing you there!
Best,
Flavia
Customer Success Manager at Transifex

[2019-04-27 19:41] rakekniven commented on #9
@samuelchan22 Any updates on that one?

[2019-05-03 07:14] mikegianno commented on #9
@rakekniven we are in the process of enhancing our issues to be able to include categories and priorities first via the API and the on the UI. Will ping here when there is an update available.

[2019-05-04 17:53] rakekniven commented on #9
@mikegianno Thank you for your response. Any roadmap for this? Next quarter? Next year? Next week :-) ?

[2019-05-06 08:55] mikegianno commented on #9
@rakekniven we are currently working on this in order to complete the API part by the end of this quarter.

[2019-06-22 19:44] rakekniven commented on #9
Just read you released the API part. Any schedule for the web UI?
Have a good weekend!

[2019-06-24 05:43] mikegianno commented on #9
Hello, priorities & categories are just released in the editor too. Please find all related info in our docs (under "Adding an issue"): https://docs.transifex.com/translation/tools-in-the-editor#section-comments-and-issues

Priorities functionality is already in the editor.

[2019-06-26 07:08] rakekniven commented on #9
Hello @mikegianno Thank you for your quick response.

Just seen the priorities. Currently only the person who is filing the issue can set the priority, or?
IMHO it would make sense to allow team managers or even coordinators to modify priority later.

I would like to use categories for Nextcloud. Could you enable it?

Cheers

[2019-06-26 08:27] mikegianno commented on #9
Hi @rakekniven thanks for your feedback, we will take it into consideration for future improvements.

Our Customer Success Manager will contact you regarding categories.

[2019-06-26 09:48] mkiousi commented on #9
Hi @rakekniven,

just to add to what @mikegianno wrote, editing an issue (priority, category, message, status) can be performed by an **organization administrator** or a **project maintainer** through our new [Comments API](https://docs.transifex.com/api/comments-api), even when they are not those who filed the issue.

We are processing adding this functionality also in the UI; we'll let you know

[2019-11-24 10:47] rakekniven commented on #8
Closing this and will continue to discuss at transifex community.

[2019-11-24 10:47] #8 closed, assigned to nobody

[2020-11-13 21:14] rakekniven commented on #18
Closing this here. For any further discussions please visit https://community.transifex.com/

[2020-11-13 21:14] #18 closed, assigned to nobody

[2020-11-13 21:15] rakekniven commented on #16
Closing here. For any further discussions please visit https://community.transifex.com/

[2020-11-13 21:15] #16 closed, assigned to nobody

[2020-11-13 21:15] rakekniven commented on #15
Closing here. For any further discussions please visit https://community.transifex.com/

[2020-11-13 21:15] #15 closed, assigned to nobody

[2020-11-13 21:17] rakekniven commented on #14
Closing here. For any further discussions please visit https://community.transifex.com/

[2020-11-13 21:17] #14 closed, assigned to nobody

[2020-11-13 21:19] rakekniven commented on #11
Closing here. For any further discussions please visit https://community.transifex.com/

[2020-11-13 21:19] #11 closed, assigned to nobody

[2020-12-27 21:32] rakekniven commented on #20
Hey @mikegianno ,

please see https://community.transifex.com/t/usability-people-requesting-languages-instead-of-joining-already-existing-languages/2124

[2020-12-27 21:33] rakekniven commented on #6
no activity

[2020-12-27 21:33] #6 closed, assigned to nobody

[2021-10-15 09:31] Philetran opened #23 "Blockchain"
/
![Screenshot_20211015-160318_TradingView](https://user-images.githubusercontent.com/92383242/137462252-80611c4f-534a-4f5b-b7e3-e9b8e9f0dde5.jpg)
![Screenshot_20211015-160118_TradingView](https://user-images.githubusercontent.com/92383242/137462286-dcc5d8f8-3913-4320-aee7-4861a3796b1e.jpg)
[is:open is:issue mentions:Philetran archived:false](transifix.comalipay_company/bitcoincore.org)

[2021-12-03 09:05] #5 closed, assigned to nobody